{% extends 'platform/staff/platform-base.html.twig' %}

{% block body %}
    <div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen pt:mt-0 bg-gray-50">
        <a href="{{ path('platform_staff_security_login') }}" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 ">
            <img src="{{ asset('images/bender_logo.svg') }}" class="mr-4 h-11" alt="Bender Logo">
        </a>
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow ">
            <h2 class="text-2xl font-bold text-gray-900 ">
                {{ 'platform.staff.login.header_text'|trans }}
            </h2>
            <form class="mt-8 space-y-6" action="{{ path('platform_staff_security_login') }}" method="post">
                {% if lastError %}
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                        <span class="font-medium">{{ 'platform.staff.login.error.label'|trans }}</span> {{ lastError.message }}
                    </div>
                {% endif %}
                <div>
                    <label for="lettercode" class="block mb-2 text-sm font-medium text-gray-900 ">{{ 'form.staff.label.lettercode'|trans }}</label>
                    <input value="{{ lastUsername }}" type="text" name="_username" id="lettercode" class="input" placeholder="{{ 'form.staff.placeholder.lettercode'|trans }}" required>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">{{ 'form.staff.label.password'|trans }}</label>
                    <input type="password" name="_password" id="password" placeholder="••••••••" class="input" required>
                </div>
                <div class="flex items-start">
                    <a href="#" class="ml-auto text-sm text-primary-700 hover:underline ">{{ 'form.staff.label.lost_password'|trans }}</a>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'form.staff.login.login_button'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}